@import './reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.l-container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.l-content {
  width: 850px;
}

.l-sidebar {
  width: 300px;
}

.c-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  &-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }

  .logo {
    text-align: center;
    margin: 0 auto;
  }

  &-left {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.8px;

    .date {
      border-bottom: 1px solid #000;
      padding-bottom: 15px;
    }

    .time {
      border-bottom: 1px solid #f4f4f4;
      padding-bottom: 15px;
    }

    .social {
      margin-top: 20px;

      i {
        width: 35px;
        height: 35px;
        line-height: 35px;
        cursor: pointer;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    .lang i {
      margin-left: 5px;
    }

    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  &-auth {
    display: flex;
    margin-right: 5px;

    li:first-child a:after {
      content: " /";
      margin-left: 5px;
    }

    a {
      padding: 0 6px 15px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #7d7d7d;
      font-size: 12px;

      &:hover {
        color: #3a71b4;
        background-color: #fff;
      }
    }
  }

  &-search {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;

    &:hover {
      .header-search-form {
        top: 0;
        opacity: 1;
        margin-top: 50px;
        transform: translateY(0);
        visibility: visible;
      }
    }


    &-form {
      width: 350px;
      height: 55px;
      position: absolute;
      right: -100px;
      display: flex;
      justify-content: flex-end;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, .15);
      opacity: 0;
      visibility: hidden;
      transition: .3s;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        top: -50px;
      }

      * {
        height: 100%;
        line-height: 100%;
      }
    }

    &-input {
      border-radius: 3px 0 0 3px;
      border: 1px solid #CCC;
      padding: 3px 10px;
      width: 70%;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
    }

    &-button {
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 10px;
      border-radius: 0 3px 3px 0;
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
      width: 30%;
    }

    i {
      font-size: 18px;
      color: #7d7d7d;
    }
  }
}

.navbar {
  &-section {
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 50px;
    background: transparent;
    border-radius: 0;
  }

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    li.active {
      a {
        background: #007aff;
        color: #FFF;
      }
    }

    a {
      display: block;
      color: #000;
      padding: 15px 50px;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: #007aff;
      }
    }
  }
}

.post {
  &-list {
    // margin-top: 40px;
  }

  &-item {
    display: flex;
    margin-bottom: 40px;
  }

  &-image {
    min-width: 250px;
    height: 160px;
    margin-right: 10px;
    background-size: 100% 100%;
    background-position: center;
    transition: .5s;
    border-radius: 5px;

    &:hover {
      background-size: 110% 110%;
    }
  }

  &-content {
    padding: 5px 20px;
  }

  &-link {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
      opacity: 1;

      .post-link-icon {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &-icon {
      width: 60px;
      height: 60px;
      background: #FFF;
      z-index: 10;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(20px);
      transition: .3s;
      transition-delay: .2s;

      i {
        font-size: 18px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 122, 255, 0.8);
    }

    &--v2 {
      width: 90px;
      border-radius: 10px;
      // border-radius: 50%;
      overflow: hidden;

      .post-link-icon {
        background: transparent;

        i {
          color: #FFF;
        }
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-info {
    display: flex;
    color: #8d8d8d;
    margin-bottom: 10px;
  }

  &-author {
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;

    &-name {
      margin-left: 3px;
      font-weight: bold;
    }
  }

  &-excerpt {
    color: #8d8d8d;
  }

  &-additional {
    border-top: 1px solid #CCC;
    padding-top: 15px;
    margin-top: 20px;
    color: #8d8d8d;
    font-size: 12px;

    .icon {
      font-size: 14px;
      margin-right: 5px;
      // i {
      //   font-weight: 300;
      // }
    }
  }

  &-tag {
    text-transform: uppercase;
  }

  &-tag-list {
    float: left;
  }

  &-comment-count {
    float: right;
  }

  &-view-count {
    float: right;
    margin-right: 15px;
  }
}

.sidebar {

  &-widget {
    margin-bottom: 30px;
  }

  &-post-item {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 25px;

    .left {
      width: 30%;
      min-width: 100px;
      margin-right: 10px;
      position: relative;
    }

    .image {
      width: 90px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      // border-radius: 50%;
      overflow: hidden;
      height: 70px;
    }

    .title {
      font-size: 13px;
      margin-bottom: 10px;
    }

    .view {
      position: absolute;
      top: -10px;
      right: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #007aff;
      font-size: 12px;
      font-weight: bold;
      color: #FFF;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
    }

    .icon {
      margin-right: 5px;
    }
  }

  &-social {
    &-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-item {
      width: 50%;
      padding: 0 3px;
      margin: 3px 0;
    }
  }

  &-tag {

    &-item {
      display: inline-block;
      padding: 8px 12px;
      color: #8d8d8d;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-transform: uppercase;
      margin: 5px;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

#trending {}